.chat_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
	padding: 25px;
	width: 100%;
	max-width: 1200px;
	border-radius: 25px;
	background-color: rgb(41, 35, 35);
	transition: .4s;
}

.chat_wrapper.active {
	border: 1px solid green;
	transition: .4s;
}

.btn_chat {
	transform: translate(0, -1%);
	padding: 17px 35PX;
	border: 1px solid green;
	border-radius: 50px;
	color: rgb(255, 189, 46);
	z-index: 0;
}

.btn_chat.active {
	font-weight: bold;
	background-color: rgb(255, 189, 46);
	border: 1px solid rgb(253, 173, 0);
	color: rgb(41, 35, 35);
}

.btn_chat:hover {
	border-radius: 25px;
	box-shadow: 0 0 5px 1px rgb(253, 173, 0) inset;
	border: 1px solid rgb(253, 173, 0);
	cursor: pointer;
	transition: .4s;
}

.chat {
	width: 0;
	height: 0;
	transition: 1s;
	z-index: -10;
}

.chat.active {
	width: 100%;
	height: 350px;
	border: 1px solid rgb(55, 107, 45);
	border-radius: 15px;
	margin-top: 25px;
	transition: 0.4s;
	z-index: 1;
}
