* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
	font-family: 'Roboto Mono', monospace, Arial, Helvetica, sans-serif;
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	font-size: 1.2rem;
	background-color: rgb(41, 35, 35);
	color: whitesmoke;
}

body.active {
	overflow-y: hidden;
}

#root {
	margin: 0 auto;
}
